<h1>Listing heatspots</h1>

<table>
  <tr>
    <th>Lat</th>
    <th>Long</th>
    <th>Strength</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @heatspots.each do |heatspot| %>
  <tr>
    <td><%= heatspot.lat %></td>
    <td><%= heatspot.long %></td>
    <td><%= heatspot.strength %></td>
    <td><%= link_to 'Show', heatspot %></td>
    <td><%= link_to 'Edit', edit_heatspot_path(heatspot) %></td>
    <td><%= link_to 'Destroy', heatspot, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Heatspot', new_heatspot_path %>

<script type="text/javascript">
var myHeatmap = new GEOHeatmap();
var myData = null;
$(function() {
// create data
myData = new Array();
<% @heatspots.each do |heatspot| %>
 myData.push(<%=heatspot.lat%>);
 myData.push(<%=heatspot.long%>);
 myData.push(<%=heatspot.strength%>);
<% end %>

// configure HeatMapAPI
myHeatmap.Init(400, 300); // set at pixels for your map
myHeatmap.SetBoost(0.8);
myHeatmap.SetDecay(0); // see documentation
myHeatmap.SetData(myData);
//  myHeatmap.SetProxyURL('http://www.yourwebsite.com/proxy.php');

// set up Google map, pass in the heatmap function
var myLatlng = new google.maps.LatLng(53.29, -1.52);
var myOptions = {
 zoom: 7,
 center: myLatlng,
 mapTypeId: google.maps.MapTypeId.ROADMAP
}
var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
google.maps.event.addListener(map, 'idle', function(event) {
 myHeatmap.AddOverlay(this, myHeatmap);
});
});
</script>


<div id="map_canvas" style="wdith:100%"></div>
